<!DOCTYPE html>
<html lang="eu" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Josu Aginaga, Jon Ander Iturrioz, Mikel Oscoz">
    <meta name="description" content="EHU-ko GrAL-ren arabera informazioa aurkezten duen web ez ofiziala">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <title>Egutegia - GrAL informazioa</title>
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="/javascripts/js/bootstrap.bundle.min.js" defer></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark sticky-top py-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Navigation toggle">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/">
                    EHU-UPV<img src="favicon.ico" alt="Logo" width="30" height="24" class="d-inline-block align-text-top ms-3" style="filter: invert(1);">
                </a>
                <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Nabigazioa</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-center flex-grow-1 pe-4">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/">Hasiera</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="araudia">Araudia</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Deialdien Egutegia</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="memoriak">Memorien kontsulta</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="galdetegia">Galdetegia</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about-us">About us</a>
                            </li>
                        </ul>
                     </div>
                </div>
            </div>
        </nav>
        <div class="container-md pt-3">
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <div id="banner" class="d-flex justify-content-center align-items-center text-center text-white">
                            <h1 class="m-0">Deialdien egutegia</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="container py-5 px-2">
        <div class="row">
            <div class="col">
                <img src="images/deialdi-egutegia.jpg" class="img-fluid img-thumbnail" alt="" style="width: inherit;">
            </div>
        </div>
    </main>
    <footer class="container-fluid bg-dark pb-3 pt-4 px-5">
        <div class="row text-center">
            <div class="col text-warning-emphasis">
                ⚠️ Orri honek ez du helburu informazio ofiziala ematea. Hau eskuratzeko, joan <a href="https://www.ehu.eus" target="_blank" rel="noreferrer noopener">www.ehu.eus</a> webgunera. ⚠️
            </div>
        </div>
    </footer>
</body>
</html>
